

.rowTitle {
    background-color: #f3f3f3;
    height: 70px;
}

.title {
    font-family: 'Abhaya Libre';
    margin: 0px;
    font-size: 3.5rem;
}

.formAdd {
    background-color: #cccccc;
    border-radius: 10px;
}

.colorLine {
    border: 1px solid #0086CA;
    margin-left: 100px;
}

.col9 {
  height: 100%;
  padding: 0px!important;
}