@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Inria+Serif:wght@400;700&family=Inter&family=Lato&display=swap");

.saleReport {
  position: relative;
  height: 852px;
  width: 961px;
}

.SaleReport-group-title {
  position: absolute;
  height: 107px;
  width: 961px;
}

.SaleReport-title {
  position: absolute;
  top: 0px;
  left: 25px;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
}

.SaleReport-box-date {
  position: absolute;
  top: 42px;
  height: 65px;
  width: 961px;
  background-color: #e9e8e8;
  color: #000000;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
}

.SaleReport-text-time {
  position: absolute;
  top: 20px;
  left: 28px;
}

.SaleReport-text-from {
  position: absolute;
  top: 20px;
  left: 124px;
}

.SaleReport-text-to {
  position: absolute;
  top: 20px;
  left: 536px;
}

.SaleReport-text-date-detail {
  position: absolute;
  top: 496px;
  left: 87px;
  color: #015388;
  text-align: right;
  font-family: "Inria Serif", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.SaleReport-box-detail {
  position: absolute;
  top: 570px;
  left: 84px;
}

.SaleReport-text-detail {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  padding-bottom: 10px;
}

/*table report detail*/
.SaleReport-table-reportDetail {
  position: absolute;
  top: 483px;
  left: 391px;
  width: 496px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  padding: 20px;
  text-align: center;
}

th {
  background: #0000000f;
  height: 41px;
  border: 1px solid #b9b9b9;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

td {
  background: rgba(255, 255, 255, 0);
  height: 41px;
  border: 1px solid #b9b9b9;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.SaleReport-idProduct {
  width: 117px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-nameProduct {
  width: 262px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-quantity {
  width: 117px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

/*table total*/
.SaleReport-table-total {
  position: absolute;
  top: 122px;
  left: 108px;
  width: 742px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  padding: 20px;
  text-align: center;
}

.SaleReport-date {
  width: 138px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-totalOrders {
  width: 133px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-totalProducts {
  width: 179px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-totalRevenue {
  width: 146px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-detail {
  width: 146px;
  height: 41px;
  border: 1px solid #b9b9b9;
}

.SaleReport-table-total td button {
  width: 98px;
  height: 31px;
  background-color: #9ec87f;
  border: none;
  border-radius: 20px;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.SaleReport-table-total td button:hover {
  background-color: #787878;
}
