body {
    margin : 0;
    padding: 0;
}

.analysis-container {
    width  : 100vw;
    height : 100vh;
    margin : 0;
    padding: 0;
}

.gradient-1 {
    background-image: linear-gradient(230deg, #759bff, #843cf6);
    margin-left: 100px;
    margin-right: -50px;
    width: 300px;
    height: 115px;
}

.gradient-2 {
    background-image: linear-gradient(230deg, #fc5286, #fbaaa2);
    margin-left: 60px;
    margin-right: -10px;
    width: 300px;
    height: 115px;
}

.gradient-3 {
    background-image: linear-gradient(230deg, #ffc480, #ff763b);
}

.gradient-4 {
    background-image: linear-gradient(230deg, #0e4cfd, #6a8eff);
}

.filter {
    padding      : 5px;
    border-radius: 5px;
}

.shopping-cart-icon
{
    position: absolute;
        top: 20px;
        /* Điều chỉnh giá trị để thay đổi vị trí theo chiều dọc */
        right: 20px;
        /* Điều chỉnh giá trị để thay đổi vị trí theo chiều ngang */
        color: #FFF;
}
.money-icon {
    position: absolute;
        top: 20px;
        /* Điều chỉnh giá trị để thay đổi vị trí theo chiều dọc */
        right: 20px;
        /* Điều chỉnh giá trị để thay đổi vị trí theo chiều ngang */
        color: #FFF;
}

.product-img {
    width        : 60px;
    height       : 40px;
    object-fit   : cover;
    box-shadow   : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
}

.product-card {
    width     : 160px;
    height    : 140px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
}

.product-name {
    margin-top: 10px;
    font-size : 17px;
}

.top-selling {
    margin-left   : 100px;
    margin-bottom: 20px;
    font-weight   : 600;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.col9 {
    height : 100%;
    padding: 0px !important;
}

.product-list {
    display: flex;
    gap    : 10px;
    margin-left: 100px;
    margin-right: -50px;
}

.chart
{
    margin-left: 60px;
    margin-right: -50px;
}

.navbarEdit {
    background-color: #e2e3e5;
}


.navbarBrand {
    font-family: 'Abhaya libre';
}