@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@800&display=swap');

.login-container {
    margin-top: 30px !important;
}

.login-content {
    margin-top   : 30px;
    border       : 1px solid rgb(224, 219, 219);
    padding      : 40px;
    padding-top  : 20px;
    border-radius: 10px;
    box-shadow   : rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;
}

.login-header h4 {
    color      : #1C1C1C;
    font-family: Smooch Sans;
    font-size  : 80px;
    font-weight: 700;
    text-align : center;
}

.login-header p {
    color      : #1C1C1C;
    font-family: Poppins;
    font-size  : 14px;
    font-style : normal;
    font-weight: 400;
    line-height: normal;
    text-align : center;
}

.login-form {
    text-align: center;
}

.login-form input {
    width           : 360px;
    height          : 50px;
    border-radius   : 10px;
    background-color: #C8C8C8;
    border          : none;
    margin          : 10px auto;
    color           : #1C1C1C;
    font-family     : Poppins;
    font-size       : 12px;
    font-style      : normal;
    font-weight     : 400;
    line-height     : normal;
    padding         : 20px;
}

.login-form button {
    margin-top   : 20px;
    width        : 360px;
    height       : 50px;
    border-radius: 10px;
    border       : none;
}

.login-form .btn-next {
    background : #1C1C1C;
    color      : #FFF;
    font-family: Poppins;
    font-size  : 15px;
    font-weight: 600;
}