.filter {
    margin-top: 30px;

    .sort-by {
        * {
            font-size: 14px;
        }

        margin-bottom: 60px;
    }

    .category {
        border       : 1px solid #E4E4E4;
        padding      : 20px;
        border-radius: 10px;

        h3 {
            color        : var(--main_black);
            font-weight  : 500;
            margin-bottom: 30px;
        }

        .category-row {
            display        : flex;
            justify-content: space-between;

            .form-check-input:checked {
                background-color: var(--main_black);
                border          : 1px solid var(--main_black);
                box-shadow      : none;
            }
        }
    }

    .slider-price {
        border       : 1px solid #E4E4E4;
        padding      : 20px;
        border-radius: 10px;
        margin-top   : 50px;

        label {
            color      : var(--main_black);
            font-size  : 20px;
            font-weight: 500;
        }

        #price::-webkit-slider-thumb {
            background-color: var(--main_black);
        }

        #price::-webkit-slider-thumb:active {
            opacity   : 0.8;
            box-shadow: 3px white;
        }

        .input-start {
            margin-right: 10px;
        }

        .input-start,
        .input-end {
            width        : 100px;
            height       : 40px;
            padding      : 10px;
            border-radius: 10px;
            border       : 1px solid #E4E4E4;
            font-size    : 14px;
            font-weight  : 400;
        }
    }
}