* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

.checkout-container {
    margin        : 0 auto;
    width         : 1000px;
    border-radius : 10px;
    background    : #F7FAFC;
    padding       : 30px;
    margin-top    : 50px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.checkout-detail input {
    width           : 600px;
    height          : 50px;
    background-color: #D9D9D9;
    border          : none;
    margin          : 10px 0;
    padding         : 5px 10px;
    border-radius   : 5px;
}

.checkout-btn {
    display        : flex;
    justify-content: end;
}

.colorBR {
    background-color: #D9D9D9;
    padding-top     : 10px;
    border-radius   : 10px;
}

.colorBR1 {
    background-color: #D9D9D9;
    padding         : 20px;
    border-radius   : 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Inter:wght@500&display=swap");

.nameProduct {
    font-family: "Inter", sans-serif;
    font-size  : 15px;
    font-style : normal;
    font-weight: 500;
    line-height: normal;
}

.summaryTotal {
    color      : var(--800, #2d3748);
    font-family: "Inter", sans-serif;
    font-size  : 17px;
    font-style : normal;
    font-weight: 700;
}

.valueSummaryTotal {
    color      : var(--800, #2d3748);
    font-family: "Inter", sans-serif;
    font-size  : 15px;
    font-style : normal;
    font-weight: 500;
}