@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.header {
    padding    : 0 !important;
    font-weight: 700;
}

.navbar {
    background-color: #EFEFEF !important;
}

.navbar-brand {
    font-family: 'Quando', Tahoma, Geneva, Verdana, sans-serif !important;
    color      : black !important;
    font-size  : 27px !important;
    font-weight: 600 !important;
}

.cart,
.user {
    margin-top : 8px !important;
    margin-left: 10px !important;
}

.user {
    position: relative;
}

.user:hover {
    cursor : pointer;
    opacity: 0.7;
}

.popup ul {
    padding: 0;
}

.popup li {
    list-style  : none;
    display     : block;
    font-size   : 15px;
    padding-left: 10px;
    color       : #222222;
}

.popup li:hover {
    color           : white !important;
    background-color: #222222;
}

.popup {
    position        : absolute;
    top             : 50%;
    right           : -300%;
    background-color: #fff;
    box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.1);
    width           : 150px;
    border-radius   : 5px;
}

.popup-item {
    text-decoration: none;
}

.slice {
    position        : relative;
    left            : 0;
    top             : 10px;
    width           : 2px;
    height          : 20px;
    background-color: #4743F1;
    display         : block;
    margin          : 0 15px 0 15px
}

.cart-total-price {
    color      : #FF0303;
    font-family: 'Quando', Tahoma, Geneva, Verdana, sans-serif;
    font-size  : 14px;
    font-weight: 500;
}

.cart-quantity {
    color      : rgba(0, 0, 0, 0.30);
    font-family: 'Quando', Tahoma, Geneva, Verdana, sans-serif;
    font-size  : 14px;
    font-weight: 500;
}