@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Inter:wght@500&display=swap");

payment {
  position: absolute;
  width: 1321px;
  height: 772px;
}

/*FORM ORDER CONFIRMATION*/
.order-confirm {
  position: absolute;
  top: 62px;
  left: 59px;
  width: 778px;
  height: 772px;
  border-radius: 10px;
  background: #f7fafc;
}

.title1-order-confirm {
  position: absolute;
  top: 84.72px;
  width: 100%;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.title2-order-confirm,
.title3-order-confirm {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title2-order-confirm {
  position: absolute;
  top: 149px;
  left: 123px;
}

.title3-order-confirm {
  position: absolute;
  top: 454px;
  left: 123px;
}

input[type="text"] {
  position: absolute;
  width: 534px;
  height: 59px;
  padding: 20px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

  color: var(--600, #718096);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="text"]:valid {
  color: #000000;
}

input[type="text"][id="address"] {
  left: 123px;
  top: 195px;
}

input[type="text"][id="name"] {
  left: 123px;
  top: 279px;
}

input[type="text"][id="phone"] {
  left: 123px;
  top: 363px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: absolute;
  left: 122px;

  width: 26px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

input[type="checkbox"][id="bank"] {
  top: 494px;
}

input[type="checkbox"][id="cash"] {
  top: 538px;
}

input[type="checkbox"][id="momo"] {
  top: 581px;
}

input[type="checkbox"]:checked {
  background-color: #d9d9d9; /* Background color when checked */
}

.title-checkbox-bank,
.title-checkbox-cash,
.title-checkbox-momo {
  position: absolute;
  left: 161px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-checkbox-bank {
  top: 502px;
}

.title-checkbox-cash {
  top: 546px;
}

.title-checkbox-momo {
  top: 589px;
}

input[type="submit"][id="payment"] {
  position: absolute;
  top: 663px;
  left: 457px;
  width: 200px;
  height: 60px;
  background-color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--100, #f7fafc);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="submit"][id="payment"]:hover {
  background-color: #d9d9d9;
  color: #848484;
}

input[type="submit"][id="cancel"] {
  position: absolute;
  top: 683px;
  left: 308px;
  height: 19px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--700, #4a5568);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="submit"][id="cancel"]:hover {
  color: #9f9f9f;
}

/*FORM ORDER SUMMARY*/

.order-summary {
  position: absolute;
  top: 62px;
  left: 867px;
  width: 513px;
  height: 772px;
  border-radius: 10px;
  background: #f7fafc;
}

.title1-order-summary {
  position: absolute;
  top: 84.72px;
  width: 100%;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

button[id="plus"],
button[id="minus"] {
  width: 40px;
  height: 58.8px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 4px;
  color: rgba(113, 128, 150, 1);
  font-size: 30px;
}

button[id="minus"] {
  position: absolute;
  left: 308px;
}

button[id="plus"] {
  position: absolute;
  left: 393px;
}

.products-list {
  position: absolute;
  top: 158.79px;
  left: 53px;
  display: flex;
  flex-direction: column;
}

.product-item {
  position: relative;
  width: 432px;
  height: 91.209px;
  margin-bottom: 17px;
}

.name-product {
  position: absolute;
  left: 11px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price-product {
  position: absolute;
  bottom: 4px;
  color: #e00000;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

.quantity-product {
  position: absolute;
  top: 23px;
  left: 366px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="text"][id="gift-card"] {
  position: absolute;
  top: 417px;
  left: 52px;
  width: 270px;
  height: 59px;
  padding: 20px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.label-giftCard {
  position: absolute;
  top: 377px;
  left: 52px;
  color: var(--600, #718096);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

button[id="apply"] {
  position: absolute;
  top: 417px;
  left: 348px;
  width: 125px;
  height: 60px;
  background-color: #ffffff;
  padding: 2px;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summary-sub,
.summary-tax,
.summary-shipping {
  position: absolute;
  left: 55px;
  width: 421px;
  color: var(--700, #4a5568);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summary-sub {
  top: 527px;
}
.summary-tax {
  top: 588px;
}
.summary-shipping {
  top: 649px;
}

.summary-total {
  position: absolute;
  top: 711px;
  left: 55px;
  width: 421px;
  color: var(--800, #2d3748);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.value-summary-sub,
.value-summary-tax,
.value-summary-total {
  position: absolute;
  top: 0px;
  right: 0px;
  color: var(--800, #2d3748);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.value-summary-shipping {
  position: absolute;
  top: 0px;
  right: 0px;
  color: var(--500, #38b2ac);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
