.order-container {
    font-family: Quicksand !important;
}

.order-header {
    text-align : center;
    font-weight: 1000 !important;
    font-size  : 80px;
    font-weight: 600;
    font-family: Smooch Sans;
}

td,
th {
    vertical-align: middle;
}

.btn-cancel {
    border-radius: 5px;
    padding      : 5px;
    border       : 1px solid #222222;
}

.btn-cancel:hover {
    opacity         : 0.7;
    background-color: #222222;
    color           : white;
}

.filter {
    padding      : 5px;
    border-radius: 5px;
}

.input-search {
    padding      : 5px;
    border-radius: 5px;
    width        : 300px;
}

.PENDING {
    background-color: #f9e573 !important;
}

.PROCESSING {
    background-color: #62b1ff !important;
}

.SHIPPING {
    background-color: #f9a60d !important;
}

.COMPLETED {
    background-color: #88e288 !important;
}

.CANCELLED {
    background-color: rgb(255, 98, 98) !important;
}

.edit-icon {
    color       : #f9a60d;
    font-size   : 20px;
    margin-right: 10px;
}

.delete-icon {
    color    : rgb(212, 59, 59);
    font-size: 20px;
}

.save-icon {
    color       : rgb(39, 166, 39);
    font-size   : 20px;
    margin-right: 10px;
}

.cancle-icon {
    color    : gray;
    font-size: 20px;
}

.edit-icon:hover,
.delete-icon:hover,
.save-icon:hover,
.cancel-icon:hover {
    cursor: pointer;
    scale : 1.3;
}

.edit-input {
    width: 120px;
}

.col9 {
    height : 100%;
    padding: 0px !important;
}